.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 0
  flex-wrap: wrap
  &-block
    display: flex
    align-items: center
    flex-basis: 25%
    &:nth-child(2)
      justify-content: space-between
      @include w-tablet()
        flex-basis: 58%
        justify-content: space-around
      @include w-mobile()
        flex-basis: 100%
    &:last-child
      justify-content: flex-end
      & .header__item
        margin-right: 20px
      @include w-tablet()
        flex-basis: 40%
      @include w-mobile()
        flex-basis: 100%
        justify-content: space-around
    @include w-tablet()
      flex-basis: 100%
      margin-bottom: 25px
      justify-content: center

  &__logo
    margin-right: 15px
    &-title
      text-transform: uppercase
      font-family: 'Montserrat', sans-serif
      font-size: 20px
      & span
        font-weight: bold
  &__item
    color: $mainColor
    font-weight: 300
    cursor: pointer
    &:hover
      color: darken($mainColor, 90%)
      transition: 0.3s
  &__button
    background-color: rgba(#A17FFF, .11)
    padding: 18px 15px
    font-size: 16px
    font-weight: 500
    color: $mainColor
    font-family: 'Rubik', sans-serif
    transition: 0.3s
    &:hover
      background-color: rgba(#A17FFF, .3)
