mixin section4()
  mixin sliderItem(text, name, date)
    .slider__item
      .slider__text= text
      .slider-block
        .slider__name= name
        .slider__date= date
  section.section.section4
    .container
      h2.section-title.section4__title Что клиенты говорят о нас
      .slider
        +sliderItem('Киви переправил деньги не на кошелек а на номер мтс будьте внимательны.даже в этом случаи делают возврат и переводят на приват.особая благодарность оператору Марии.', 'Игорь Панковский', '20.05.2020, 12:10')
        +sliderItem('3-й раз выполняю обмен. все как всегда на отлично! транзакции выполняются в течение 15-20 мин. что очень быстро + лучший ценник!', 'Анна Савичева', '24.05.2020, 14:43')
        +sliderItem('Выполнил обмен валюты на этом сайте, все прошло гладко без каких либо проблем. Деньги перевели в течении 30 минут. А комиссия настолько минимальна, что просто сказка.', 'Андрей Мак', '18.06.2020, 02:31')
      .banner
        img(src="img/4/banner-img.png", alt="banner").banner__img
        .banner-content
          .banner__title Будем рады предоставить Вам качественный обмен валют на нашем сервисе!
          .banner__small Начните обмен прямо сейчас
          button.banner__button Начать обмен