include ../global/head.pug
include ../global/header.pug
include ../global/footer.pug
include ../global/scripts.pug

//- sections
include ../components/section1.pug

doctype html
html(lang="ru")
  +head('MEC')
  body
    +header
    main
      +section1
    +footer
    +scripts('js/lib/jquery-3.5.1.min.js')
    +scripts('js/main.js')