mixin header()
  header.header-wrap
    .container
      .header
        a(href="#").header-block
          img(src="img/header/logo.svg", alt="logo").header__logo
          .header__logo-title <span>meonyex</span>change
        .header-block
          a(href="#").header__item Компания
          a(href="#").header__item Блок
          a(href="#").header__item Контакты
        .header-block
          a(href="#").header__item Вход
          button.button.header__button Регистрация