body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
}

body {
  font-size: 16px;
  font-weight: 300;
  color: #4E5983;
}

.button {
  border-radius: 9px;
  cursor: pointer;
}

.section-title {
  font-size: 35px;
  color: #160647;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 10px 15px;
}

body {
  font-family: "Rubik", sans-serif;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}

@media (max-width: 768px) {
  .header-block:first-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-block:nth-child(2) {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header-block:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.header-block:last-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-block:last-child .header__item {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header-block:last-child {
    display: none;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .header-block {
    margin-bottom: 25px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}

.header__logo {
  margin-right: 15px;
}

.header__logo-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.header__logo-title span {
  font-weight: bold;
}

.header__item {
  color: #4E5983;
  font-weight: 300;
  cursor: pointer;
}

.header__item:hover {
  color: black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button {
  background-color: rgba(161, 127, 255, 0.11);
  padding: 18px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #4E5983;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button:hover {
  background-color: rgba(161, 127, 255, 0.3);
}

@media (max-width: 768px) {
  .header__profile {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 5%;
  }
}

.section1 {
  padding-top: 120px;
  padding-bottom: 85px;
  background: url("/img/1/bg.jpg") center no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .section1 {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.section1__title {
  margin: 0 auto;
  font-size: 55px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  max-width: 833px;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .section1__title {
    font-size: 30px;
  }
}

.section1__subtitle {
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 55px;
}

.form-main {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 26px;
  padding: 70px 85px 80px 105px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .form-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-main::before {
  content: '';
  position: absolute;
  background-color: #fff;
  opacity: 0.2;
  border-radius: 0px 0px 26px 26px;
  height: 20px;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
}

.form-main::after {
  content: '';
  position: absolute;
  background-color: #fff;
  opacity: 0.2;
  border-radius: 0px 0px 26px 26px;
  height: 38px;
  width: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -38px;
}

.form-colum {
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
}

@media (max-width: 1024px) {
  .form-colum {
    margin-bottom: 20px;
  }
}

.form__trade-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-13px);
      -ms-transform: translateY(-13px);
          transform: translateY(-13px);
}

@media (max-width: 1024px) {
  .form__trade-icon {
    display: none;
  }
}

.form__trade-icon img:last-child {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.form__name {
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  color: #4E5983;
  margin-right: 8px;
  vertical-align: middle;
}

.form__name-small {
  font-size: 13px;
  opacity: 0.5;
}

.form__sum {
  font-size: 16px;
  opacity: 0.5;
}

.form-input-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-input-block input {
  font-size: 25px;
  width: 55%;
  border: none;
  background-color: transparent;
  border-right: 1px solid #cfd4da;
}

.form-input-block__select {
  width: 40%;
  position: relative;
}

.form__button {
  -webkit-transform: translateY(-13px);
      -ms-transform: translateY(-13px);
          transform: translateY(-13px);
  padding: 20px 40px;
  border-radius: 9px;
  background: -o-linear-gradient(286.06deg, #562EC2 29.59%, #A07EFE 73.59%);
  background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%);
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.form__button:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .form__button {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.select_active .select__body {
  display: block;
}

.select__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.select__current {
  padding: 8px;
}

.select__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%) rotateZ(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotateZ(90deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 320px) {
  .select__icon {
    display: none;
  }
}

.select__icon_active {
  -webkit-transform: translateY(-50%) rotateZ(270deg);
      -ms-transform: translateY(-50%) rotate(270deg);
          transform: translateY(-50%) rotateZ(270deg);
}

.select-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 10px 0;
  padding-left: 7px;
  cursor: pointer;
}

.select-item-current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-item__icon {
  margin-right: 18px;
}

.select-item:hover {
  background-color: rgba(78, 89, 131, 0.1);
}

.select__body {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #4E5983;
  border-top: none;
}

.section2 {
  padding-top: 120px;
  position: relative;
  z-index: 2;
}

.section2::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFF2FA), color-stop(96.57%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
  background: linear-gradient(180deg, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
  opacity: 0.8;
}

@media (max-width: 500px) {
  .section2 {
    padding-top: 50px;
  }
}

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 118px;
}

@media (max-width: 500px) {
  .advantages {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.advantages-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}

@media (max-width: 500px) {
  .advantages-block {
    -webkit-flex-basis: 95%;
        -ms-flex-preferred-size: 95%;
            flex-basis: 95%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    text-align: center;
  }
}

.advantages-block__img {
  width: 150px;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .advantages-block__img {
    margin-right: -24px;
    margin-bottom: 20px;
  }
}

.advantages__title {
  font-size: 22px;
  color: #4E5983;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 32px;
}

.advantages__descr {
  font-size: 18px;
  opacity: 0.7;
  max-width: 314px;
}

.advantage {
  border: 4px solid #F7F8FD;
  border-radius: 26px;
  padding: 95px 17px 88px 155px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-bottom: -266px;
  position: relative;
  overflow: visible;
}

.advantage::before {
  content: url("../img/2/before.png");
  position: absolute;
  left: -50px;
  top: -70px;
  z-index: -1;
  -webkit-transform: rotateZ(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotateZ(-20deg);
}

.advantage::after {
  content: url("../img/2/after.png");
  position: absolute;
  right: -15px;
  bottom: -20px;
  -webkit-transform: rotateZ(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotateZ(-20deg);
}

@media (max-width: 768px) {
  .advantage::after {
    display: none;
  }
}

@media (max-width: 1124px) {
  .advantage {
    padding: 20px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .advantage {
    margin-bottom: -123px;
  }
}

@media (max-width: 500px) {
  .advantage {
    padding: 10px 5px;
  }
}

.advantage-text {
  max-width: 350px;
}

@media (max-width: 768px) {
  .advantage-text {
    text-align: center;
    max-width: none;
  }
}

.advantage__title {
  font-weight: 500;
  font-size: 35px;
  color: #160647;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .advantage__title {
    font-size: 25px;
  }
}

.advantage__descr {
  font-size: 18px;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .advantage__img {
    width: 420px;
  }
}

@media (max-width: 768px) {
  .advantage__img {
    display: none;
  }
}

.section3 {
  padding-top: 423px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .section3 {
    padding-top: 170px;
  }
}

.section3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFF2FA), color-stop(96.57%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
  background: linear-gradient(180deg, #EFF2FA 0%, rgba(255, 255, 255, 0) 96.57%);
  opacity: 0.8;
  z-index: -1;
}

.section3 .container {
  z-index: 2;
}

.section3__title {
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 500px) {
  .section3__title {
    margin-bottom: 30px;
  }
}

.money-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.money-item {
  -webkit-flex-basis: 24%;
      -ms-flex-preferred-size: 24%;
          flex-basis: 24%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
}

@media (max-width: 1024px) {
  .money-item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-basis: 49%;
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
  }
}

@media (max-width: 500px) {
  .money-item {
    margin-bottom: 20px;
  }
}

.money-block {
  width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .money-block {
    width: 130px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.money__img {
  margin-right: 32px;
}

@media (max-width: 500px) {
  .money__img {
    display: none;
  }
}

.money__name {
  font-size: 16px;
  color: #a4aabf;
  margin-bottom: 8px;
}

.money__value {
  font-size: 20px;
  color: #160647;
}

.section4__title {
  margin-bottom: 115px;
}

@media (max-width: 768px) {
  .section4__title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.slider {
  margin-bottom: 140px;
  position: relative;
}

.slider__text {
  color: #4E5983;
  opacity: 0.7;
  font-size: 18px;
  height: 120px;
  max-width: 450px;
}

@media (max-width: 768px) {
  .slider__text {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .slider__text {
    height: 140px;
  }
}

.slider-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .slider-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__name {
  color: #160647;
  font-size: 20px;
  margin-right: 30px;
  font-weight: 500;
}

.slider__date {
  color: #838BA8;
  font-size: 14px;
}

.slider-arrow {
  position: absolute;
  right: 0;
  bottom: -45px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 20px;
  width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-arrow__line {
  height: 3px;
  opacity: 0.6;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider-arrow__line::before {
  content: '';
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-42%);
      -ms-transform: translateY(-42%);
          transform: translateY(-42%);
  border: 10px solid transparent;
}

.slider-arrow-prev {
  right: 30px;
  cursor: pointer;
}

.slider-arrow-prev:hover .slider-arrow-prev__line {
  opacity: 0.9;
  background-color: #A17FFF;
  width: 70px;
}

.slider-arrow-prev:hover .slider-arrow-prev__line::before {
  border-right-color: #A17FFF;
}

.slider-arrow-prev__line {
  width: 36px;
  background-color: #c4c4c4;
  border-radius: 0 2px 2px 0;
}

.slider-arrow-prev__line::before {
  left: -20px;
  border-right-color: #c4c4c4;
}

.slider-arrow-next {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider-arrow-next:hover .slider-arrow-next__line {
  opacity: 0.9;
}

.slider-arrow-next__line {
  width: 70px;
  background-color: #A17FFF;
  border-radius: 2px 0 0 2px;
}

.slider-arrow-next__line_small {
  width: 37px;
}

.slider-arrow-next__line::before {
  right: -20px;
  border-left-color: #A17FFF;
}

.banner {
  position: relative;
  background: -o-linear-gradient(286.49deg, #562EC2 29.59%, #A07EFE 73.59%);
  background: linear-gradient(163.51deg, #562EC2 29.59%, #A07EFE 73.59%);
  opacity: 0.8;
  border-radius: 17px;
  padding-top: 64px;
  padding-bottom: 80px;
  padding-left: 639px;
  -webkit-box-shadow: 0 60px 60px -30px #9F7DFD;
          box-shadow: 0 60px 60px -30px #9F7DFD;
}

@media (max-width: 1024px) {
  .banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 64px 10px;
  }
}

.banner__img {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: rotate(-20deg) translateY(-50%);
      -ms-transform: rotate(-20deg) translateY(-50%);
          transform: rotate(-20deg) translateY(-50%);
}

@media (max-width: 1024px) {
  .banner__img {
    display: none;
  }
}

.banner__title {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
  max-width: 460px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .banner__title {
    font-size: 25px;
  }
}

.banner__small {
  color: #ffffff;
  opacity: 0.7;
  font-size: 17px;
  margin-bottom: 50px;
}

.banner__button {
  padding: 25px 35px;
  background-color: #fff;
  border-radius: 10px;
  color: #9F7DFD;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0 30px 60px -20px #ffffff;
          box-shadow: 0 30px 60px -20px #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.banner__button:hover {
  -webkit-box-shadow: 0 30px 60px -15px #ffffff;
          box-shadow: 0 30px 60px -15px #ffffff;
}
