body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

body {
  font-size: 16px;
  font-weight: 300;
}

.button {
  border-radius: 9px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 10px 15px;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/newfont.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Rubik", sans-serif;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}

@media (max-width: 768px) {
  .header-block:first-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-block:nth-child(2) {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header-block:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.header-block:last-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-block:last-child .header__item {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header-block:last-child {
    display: none;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .header-block {
    margin-bottom: 25px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}

.header__logo {
  margin-right: 15px;
}

.header__logo-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.header__logo-title span {
  font-weight: bold;
}

.header__item {
  color: #4E5983;
  font-weight: 300;
  cursor: pointer;
}

.header__item:hover {
  color: black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button {
  background-color: rgba(161, 127, 255, 0.11);
  padding: 18px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #4E5983;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button:hover {
  background-color: rgba(161, 127, 255, 0.3);
}

@media (max-width: 768px) {
  .header__profile {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 5%;
  }
}
